* {
  box-sizing: border-box;
}

.frame13 {
  display: flex;
  align-items: flex-start;
  background: #ffffff;
  padding: 1px 1px 0px 14px;
  width: 1440px;
  height: 798px;
  overflow: hidden;

  .text4 {
    line-height: 20px;
    letter-spacing: 0;
    color: #000000;
    font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .autoWrapper13 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 28px;

    .rectangle8 {
      border-radius: 4px;
      background: #d6e8ff;
      width: 18px;
      height: 19px;
    }

    .rectangle16 {
      border-radius: 4px;
      background: #efe7ff;
      width: 18px;
      height: 19px;
    }

    .text {
      margin: 0px 0px 0px 10px;
      line-height: 20px;
      letter-spacing: 0;
      color: #000000;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .rectangle11 {
      border-radius: 4px;
      background: #f0f0f0;
      width: 18px;
      height: 19px;
    }

    .autoWrapper {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding-right: 11px;
      padding-left: 6px;

      .startAgi {
        line-height: 28px;
        letter-spacing: 0;
        color: #000000;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 20px;
        font-weight: 600;
      }

      .frame3467756 {
        margin-top: 6px;
        width: 14px;
        height: 14px;
      }
    }

    .autoWrapper2 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 37px;
      padding-right: 171px;
      padding-left: 6px;
    }

    .autoWrapper3 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 19px;
      padding-right: 157px;
      padding-left: 6px;
    }

    .autoWrapper4 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 20px;
      padding-right: 129px;
      padding-left: 6px;
    }

    .autoWrapper5 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 20px;
      padding-right: 8px;
      padding-left: 6px;

      .frame {
        margin-left: 127px;
        width: 18px;
        height: 18px;
        overflow: hidden;
      }
    }

    .autoWrapper6 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 18px;
      padding-right: 8px;
      padding-left: 6px;

      .borderPutAway2 {
        margin-left: 107px;
        width: 14px;
        height: 14px;
        overflow: hidden;
        rotate: 90deg;
      }
    }

    .line11 {
      margin-top: 26px;
      background: #ddd6d6;
      width: 248px;
      height: 1px;
    }

    .autoWrapper7 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 19px;
      padding-right: 9px;
      padding-left: 6px;

      .text2 {
        line-height: 20px;
        letter-spacing: 0;
        color: #999999;
        font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }

      .frame2 {
        margin-left: 162px;
        width: 14px;
        height: 14px;
        overflow: hidden;
      }
    }

    .autoWrapper8 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 12px;
      padding-right: 83px;
      padding-left: 6px;
    }

    .autoWrapper9 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 13px;
      padding-right: 75px;
      padding-left: 6px;
    }

    .autoWrapper10 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 12px;
      padding-right: 151px;
      padding-left: 6px;
    }

    .autoWrapper11 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 12px;
      padding-right: 176px;
      padding-left: 6px;
    }

    .autoWrapper12 {
      display: flex;
      align-items: center;
      align-self: stretch;
      margin-top: 12px;
      padding-right: 117px;
      padding-left: 6px;
    }

    .line10 {
      margin-top: 92px;
      background: #ddd6d6;
      width: 248px;
      height: 1px;
    }

    .text3 {
      margin: 20px 0px 0px 6px;
      line-height: 20px;
      letter-spacing: 0;
      color: #999999;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .rectangle5 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 11px 3px 0px 4px;
      background: #edf5ff;
      padding: 10px 89px 10px 69px;
      min-width: 241px;
      height: 40px;
    }

    .rectangle6 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin: 5px 3px 0px 4px;
      background: #edf5ff;
      padding: 10px 89px 10px 69px;
      min-width: 241px;
      height: 40px;
    }
  }

  .rectangle4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 17px;
    background: #f8f8f8;
    padding: 33px 40px 256px 152px;

    .text6 {
      opacity: 0.9;
      margin: 12px 0px 0px;
      line-height: 20px;
      letter-spacing: 0;
      color: var(--UI-Gray-gray4, #7b819c);
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }

    .frame12 {
      display: inline-flex;
      align-items: flex-start;
      opacity: 0.9;
      background: var(--UI-Gray-gray4, #7b819c);

      .frame9 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        background: #ffffff;

        .frame8 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-width: 0px 0px 1px;
          border-style: solid;
          border-radius: 2px 0px 0px 2px;
          border-color: var(--Border-Color, #eeeeee);
          background: var(--Background-Color, #ffffff);
          padding: 10px 20px 9px;
          height: 44px;

          .text9 {
            flex-grow: 1;
            letter-spacing: 0;
            color: var(--Text-Color, #0e0f0f);
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .frame11 {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        background: #ffffff;

        .frame10 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-width: 0px 0px 1px;
          border-style: solid;
          border-radius: 2px 0px 0px 2px;
          border-color: var(--Border-Color, #eeeeee);
          background: var(--Background-Color, #ffffff);
          padding: 10px 20px 9px;
          width: 160px;
          height: 44px;

          .text10 {
            flex-grow: 1;
            letter-spacing: 0;
            color: #0458e5;
            font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }

    .group1000007569 {
      display: flex;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-left: 893px;
      min-width: 76px;
      height: 20px;

      .rectangle34627571 {
        border-radius: 100px;
        background: #e4e4e4;
        width: 16px;
        height: 16px;
      }
    }

    .text5 {
      margin: 60px 0px 0px 56px;
      line-height: 39px;
      letter-spacing: 0;
      color: #000000;
      font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
      font-weight: 600;
    }

    .autoWrapper14 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 40px;
      padding-right: 153px;
      padding-left: 8px;

      .frame7 {
        display: inline-flex;
        align-items: flex-start;

        .frame4 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          background: #ffffff;

          .frame3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            border-width: 0px 0px 1px;
            border-style: solid;
            border-radius: 2px 0px 0px 2px;
            border-color: var(--Border-Color, #eeeeee);
            background: var(--Background-Color, #ffffff);
            padding: 10px 20px 9px;
            height: 44px;

            .text7 {
              flex-grow: 1;
              line-height: 22px;
              letter-spacing: 0;
              color: var(--Text-Color, #0e0f0f);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }

        .frame6 {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          background: #ffffff;

          .frame5 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            border-width: 0px 0px 1px;
            border-style: solid;
            border-radius: 2px 0px 0px 2px;
            border-color: var(--Border-Color, #eeeeee);
            background: var(--Background-Color, #ffffff);
            padding: 10px 20px 9px;
            width: 160px;
            height: 44px;

            .text8 {
              flex-grow: 1;
              line-height: 22px;
              letter-spacing: 0;
              color: #0458e5;
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
            }
          }
        }
      }
    }

    .autoWrapper15 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 24px;
      padding-right: 153px;
      padding-left: 8px;
    }

    .autoWrapper16 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 24px;
      padding-right: 153px;
      padding-left: 0;
    }
  }
}
